<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Restaurants
        </h1>
      </div>
      <div class="col-lg-8 col-sm-8">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Create A Restaurant", new_restaurant_path %>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= link_to "Create A Restaurant", new_restaurant_path, class: 'btn btn-success' %>
</div>

